:root {
  background-color: darkgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
  width: 80px;
  height: 125px;
  padding: 0px;
}
.card-mano {
  width: 80px;
  height: 125px;
  padding: 0px;
}
.container-cartas{
  position: relative;
  width: 300px;
  height: 130px;
}
.card-mano:first-child{
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
}
.card-mano:nth-child(2){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 1;
  transform: translateX(30px)
}
.card-mano:nth-child(3){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(60px)
}
.card-mano:nth-child(4){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(90px)
}
.card-mano:nth-child(5){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(120px)
}
.card-mano:nth-child(6){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(150px)
}
.card-mano:nth-child(7){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(180px)
}
.card-mano:nth-child(8){
  position: absolute;
  width: 80px;
  height: 125px;
  padding: 0px;
  z-index: 2;
  transform: translateX(210px)
}
.card-empty {
  position: relative;
  width: 78px;
  height: 123px;
  background-color: darkgreen;
  border: 1px solid white;
  border-radius: 5px;
}

.imagen-vida{
  width: 40px;
  margin: 10px;
}

.container-mazos{
  height: 33vh;
  display: flex;
  flex-direction: row;
}

.container-cartas-jugadas{
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-mano{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.puntos-jugador {
  color: white;
  font-weight: 500;
}
.container-button-echar-cartas{
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.button-vida{
  background-color: darkgreen;
  border: none;
  cursor: pointer;
} 
.button-vida-disabled{
  background-color: darkgreen;
  border: none;
}
.cartas-mano{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  align-items: center;
  border: green 1px solid;
  border-radius: 5px
}
.button-echar-cartas {
  height: 30px;
  width: 120px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-echar-cartas-disabled{
  height: 30px;
  width: 120px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}
.container-mazo-monstruos{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-mazo-principal{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 10px;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-mazo-descartes {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10px;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-vidas {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: 500;
}

.vidas{
  display: flex;
  flex-direction: row;
}
.modal-partida-nueva{
  padding-top: 10px;
  position: absolute;
  z-index: 20;
  top: 100px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.button-partida-nueva{
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  margin-bottom: 43px;
}