:root {
  background-color: darkgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  width: 80px;
  height: 125px;
  padding: 0px;
}

.card-empty {
  width: 78px;
  height: 123px;
  background-color: darkgreen;
  border: 1px solid white;
  border-radius: 5px;
}

.imagen-vida{
  width: 40px;
  margin: 10px;
}

.container-mazos{
  height: 38vh;
  display: flex;
  flex-direction: row;
}

.container-cartas-jugadas{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-mano{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.puntos-jugador {
  color: white;
  font-weight: 500;
}
.container-button-echar-cartas{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
  color: white;
}
.button-vida{
  background-color: darkgreen;
  border: none;
  cursor: pointer;
} 
.button-vida-disabled{
  background-color: darkgreen;
  border: none;
}
.cartas-mano{
  padding-top: 50px;
  width: 700px;
}
.button-echar-cartas {
  height: 30px;
  width: 120px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-echar-cartas-disabled{
  height: 30px;
  width: 120px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}
.container-mazo-monstruos{
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-mazo-principal{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 10px;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-mazo-descartes {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10px;
  height: 100%;
  color: white;
  font-weight: 500;
}
.container-vidas {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-right: 50px;
  height: 100%;
  color: white;
  font-weight: 500;
}

.vidas{
  display: flex;
  flex-direction: row;
}
.modal-partida-nueva{
  padding-top: 10px;
  position: absolute;
  z-index: 20;
  top: 100px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.button-partida-nueva{
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  margin-bottom: 43px;
}